/**
 * Base styles
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
}

body {
  position: relative;
  background-color: #fff;
  color: #333;
}

::selection {
  background-color: #3297FD;
  text-shadow: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
