/**
* Type styles
*/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 14px 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #333;
  text-rendering: optimizeLegibility;
}

h1,
.h1 {
  font-size: 2.75rem;
  line-height: 48.4px;
}

h2,
.h2 {
  font-size: 2.3125rem;
  line-height: 40.7px;
}

h3,
.h3 {
  font-size: 1.6875rem;
  line-height: 29.7px;
}

h4,
.h4 {
  font-size: 1.4375rem;
  line-height: 25.3px;
}

h5,
.h5 {
  font-size: 1.0625rem;
  line-height: 18.7px;
}

h6,
.h6 {
  font-size: 0.875rem;
  line-height: 15.8px;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  margin-bottom: 17px;
  font-family: inherit;
  font-weight: normal;
}

hr {
  margin: 22px 0 21px;
  height: 0;
  border: solid #eee;
  border-width: 1px 0 0;
  clear: both;
}

em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}
