/**
 * Navigation Component styles
 */
.navigation {
  float: right;
  display: inline-block;
  line-height: 37px;
}

// Wraps the actual navigation links
.item {
  display: inline-block;
}

.itemLogin {
  display: inline-block;
  margin-left: 40px;
}

.link {
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  // Login button specific styles
  @nest .itemLogin & {
    background-color: #bdd7ff;
    border-radius: 2px;
  }
}

.active {
  font-weight: bold;
}
