/**
 * SinglePost Component styles
 */
.header {
  position: relative;
  width: 50%;
}

.title {
  composes: title from "../../styles/common/post.css";
}

.author {
  composes: author from "../../styles/common/post.css";
}

.text {
  composes: text from "../../styles/common/post.css";
  width: 50%;
}

.close {
  position: absolute;
  top: 7px;
  right: 0;
  padding: 5px 0px;
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 2px;
  border-radius: 2px;
  // Decoration pseudo element that underlines the element on hover
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #999;
    content: "";
    transition: width 0.3s cubic-bezier(0.52, 0.3, 0.12, 1);
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
}
